APP_NAME=ForServOs
APP_ENV=local

DB_CONNECTION=pgsql
DB_HOST=seu_host
DB_PORT=5432
DB_DATABASE=seu_database
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

JWT_SECRET=sua_chave_aqui
JWT_EXPIRATION=86400